/ .fb-share-button{"data-href" => ENV["APPLI_URL"], "data-layout" => "button_count", "data-mobile-iframe" => "true", "data-size" => "small"}
/   %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwaspmansample.herokuapp.com%2F&src=sdkpreparse", :target => "_blank"} シェア
.fb-share-button data-href="https://waspmansample.herokuapp.com/" data-layout="button_count" data-mobile-iframe="true" data-size="small" 
  a.fb-xfbml-parse-ignore href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwaspmansample.herokuapp.com%2F&src=sdkpreparse" target="_blank"  シェア
