p
  | こんにちは #{@resource.name} さん　メールアドレス：#{@resource.email}
p パスワードの変更の手続きを下記リンクから行います。
p= link_to t('change_password'), edit_password_url(@resource, reset_password_token: @token)
p このメールに心当たりがない場合は、このメールを無視してください。
p 上記リンクにアクセスしなければ、パスワードは変更されません。
| \
p © # Date.today.year  Chegilon.
